---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - STS was able to help me backup my family photos and upgrade my laptops hardrive! I'm so thankful for these young men. 
    image: "https://placekitten.com/g/60/60?a=.png"
    name: Barbara Clarkeson
  - message: STS helped me transfer my everything to me new phone and showed me how to use it!
    image: "https://www.fillmurray.com/60/60?a=.png"
    name: Paul D. Reese Jr.
  - message: These guys have helpe me a few times over the years. I really appreciate their help and my wife does too! 
    image: "https://placebear.com/60/60?a=.png"
    name: J. and Q. Turner 
_options:
  image:
    width: 60
    height: 60

---

<div class="editable">
	<p>We are Silver Tech Support. Click the "About" section at the top of the page to learn more, 
	or click "Contact" if you have a technology related question we can help with.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
